
.app-content {
	background: white url("../img/background.png") no-repeat 50%;
}

.fa-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.navbar-app .btn, .navbar-app .btn:hover {
	color: white;
}

.vl-search-bar {
	background-color: #092b65;
	box-shadow: 0 1px 4px #888888;
	border: 0;
}

.vl-add-bar {
	padding: 8px;
	background-color: #33968d;
	box-shadow: 0 -1px 4px #888888;
	border: 0;
}

.votelist {
	padding: 10px;
}

.votelist table {
	width: 100%;
}

.voteUp {
	width: 60px;
	font-size: 150%;
	color: green;
}

.voteDown {
	width: 60px;
	font-size: 150%;
	color: red;
}

.canEdit {
	color: lightgrey;
}